<div class="container">
  <div class="user-details">
    <h3> About Me </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design/Tools</h4>
      <i class="devicon-html5-original"></i>
      <i class="devicon-git-original"></i>
      <i class="devicon-mysql-original"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    
    <div class="four columns">
      <h4>Code/Platform</h4>
      <i class="devicon-python-original"></i>
      <i class="devicon-java-original"></i>
      <i class="devicon-linux-original"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>

    <div class="four columns">
      <h4>Design</h4>
      <img src="./img/World_of_Warcraft.png" width = "60" height = "60" />
      <img src="./img/Netease_Cloud_Music.png" width = "60" height = "60"/> 
      <img src="./img/timg.jpg" width = "60" height = "60" />
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>

  </div>
</div>
