<div class="container">
  <div class="user-details">
    <h3> About Me </h3>
    <p> {{site.user_description}} Following are my skills and interests. You can download my CV <a href="assets/img/CV_XiaoLIU.pdf">here</a></p>

    &nbsp;

  </div>
  
  &nbsp;

  <div class="row user" style="text-align: left;">
    <div class="four columns">
      <h4 style="text-align: center">Design/Tools</h4>
      <div style="text-align: center;">
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-git-plain-wordmark"></i>
      <i class="devicon-mysql-plain-wordmark"></i>
      </div>
      <p>I am a beginer in HTML5, git and Mysql. </p>
      <p>Currently I am learning to use HTML5 designing my website; using git to properly organize my works and studying Mysql and related database tools to learn data management, as well as their connection to Java and Python.</p>
    </div>
    
    <div class="four columns">
      <h4 style="text-align: center">Code/Platform</h4>
      <div style="text-align: center;">
      <i class="devicon-python-plain-wordmark" ></i>
      <i class="devicon-java-plain-wordmark"></i>
      <i class="devicon-ubuntu-plain-wordmark"></i>
      </div>
      <p>I am a competent user of Python and Java. I use Python on data analysis and machine learning related works and Java on network programming, database system and related area. 
      </p>
      <p>For ubuntu, I am using it as my main development platform, and I am familiar with how to work on it.</p>
    </div>

    <div class="four columns">
      <h4 style="text-align: center">Hobby/Interests</h4>
      <div style="text-align: center;">
      <img src="https://ooo.0o0.ooo/2017/04/19/58f7850915c97.png" width = "60" height = "60" /> &thinsp;<img src="https://ooo.0o0.ooo/2017/04/19/58f7820f6838d.png" width = "60" height = "60"/> &thinsp;<img src="https://ooo.0o0.ooo/2017/04/19/58f7820db0af1.jpg" width = "60" height = "60" />
      </div>
      <p>World of Warcraft is my favorite MMORPG, I am now just fishing or hanging out in that fantasy world. </p>
      <p>My enjoying in music is a habit the Netease Cloud Music gives me. It's recommendation is outstanding!</p>
      <p>I am a ametuer playing tennis, I enjoy its strength and agility.
      </p>
    </div>
    </div>

    &nbsp;

</div>
