<div class="container">
  <div class="user-details">
    <h3> About Me </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design/Tools</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-git-plain-wordmark"></i>
      <i class="devicon-mysql-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    
    <div class="four columns">
      <h4>Code/Platform</h4>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-java-plain-wordmark"></i>
      <i class="devicon-ubuntu-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>

    <div class="four columns">
      <h4>Hobby/Interest</h4>
      <img src="https://ooo.0o0.ooo/2017/04/19/58f7850915c97.png" width = "60" height = "60" />
      <img src="https://ooo.0o0.ooo/2017/04/19/58f7820f6838d.png" width = "60" height = "60"/> 
      <img src="https://ooo.0o0.ooo/2017/04/19/58f7820db0af1.jpg" width = "60" height = "60" />
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>

  </div>
</div>
