<div id="particles-js-blog">
  <div class="content-blog">
      <h1>
        <span class="site-title-blog">Blog</span>
        <div class="icons-header-blog">
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope-o"></i></a><a aria-label="My Blogs" target="_blank" href="https://chriscliu.github.io/blog/"><i class="icon fa fa-wordpress" aria-hidden="true"></i></a><a aria-label="My Codes" target="_blank" href="https://chriscliu.github.io/code/"><i class="icon fa fa-code" aria-hidden="true"></i></a><a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github" aria-hidden="true"></i></a>
       </div>
      </h1>
    </div>
</div>
