<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
  <script type="text/javascript">
  function changeH(){
    alert(1);
    var particleHeight = document.getElementById("particles-js")
    particleHeight.height(15vh)
  }
</script>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
